PFDB.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="database">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="table">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="database" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="ddl" type="xs:string" />
              <xs:element name="columns">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="column">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="type" type="xs:string" />
                          <xs:element minOccurs="0" name="constraints">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="constraint">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="type" type="xs:string" />
                                      <xs:element name="definition" type="xs:string" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="rows" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>